<div class="jumbotron bg-white">
    <div class="row">
        <img class="img col-7" [src]="displaycarData.imgUrl" />
        <div class="col-3">
            <h3>
                {{displaycarData.CarName}}
            </h3>
            <p>
                {{displaycarData.carModel}}
            </p>
            <p>
                {{"$ "+displaycarData.carPrice+" /-"}}
            </p>
        </div>

        <div class="col-2">

            <a [routerLink]="[ '/view/edit', (displaycarData.id) ]">
                <button class="btn btn-outline-info mr-1">
                    Edit
                </button>
            </a>
            

            <a [routerLink]="[ '' ]">
                <button (click)="removeProduct(displaycarData.id)" class="btn btn-outline-info">
                    Delete
                </button>
            </a>
        </div>
    </div>
    <div class="pl-5">
        <pre>
            {{displaycarData.Description}}
        </pre>
    </div>
</div>