<div class="col">
        <div class="container mt-5">
            <div class="card mx-auto p-2">
                <h5 class="card-header bg-info white-text text-center py-2">
                    <strong class="text-white">CAR NAME</strong>
                </h5>
                <div class="card-body">
                    <div class="row">
                        <img class="img col-12"
                            src="https://files1.porsche.com/filestore/image/multimedia/none/991-2nd-gt2-rs-modelimage-sideshot/model/ed0a4842-451d-11e7-bfe2-0019999cd470/porsche-model.png" />
                    </div>
                    <div class="float-right col-4">
                            <a href="view"> <button class="btn btn-outline-info" type="submit">More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>